<ion-header>
  <ion-toolbar mode="md" class="dealerHeader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons
      *ngIf="myPlatform == 'desktop'&&companyId == 'apm-sa'"
      slot="start"
    >
      <ion-icon
        routerLink="/tabs-login/esim-dashboard"
        name="arrow-back"
        style="padding: 10px; cursor: pointer"
        slot="start"
      ></ion-icon>
    </ion-buttons>
    <ion-title *ngIf="myPlatform != 'desktop'">Renewal Request</ion-title>
    <ion-title *ngIf="myPlatform == 'desktop'">Request Details</ion-title>
    <ion-button
      *ngIf="myPlatform == 'desktop'"
      slot="end"
      class="submitBtn"
      size="small"
      (click)="newfunc()"
      >Export</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-grid>
    <ion-row *ngIf="myPlatform == 'desktop'" class="upperRow">
      <ion-col
        [ngClass]="{selectedUpperCol:'true'}"
        routerLink="/tabs-login/esim-dealer-detail"
        routerLinkActive="selected"
        size="1.9"
      >
        <ion-label>Ca Request</ion-label>
      </ion-col>
      <ion-col
        [ngClass]="{selectedUpperCol:'true'}"
        routerLink="/tabs-login/esim-renewal"
        routerLinkActive="selected"
        size="1.9"
      >
        <ion-label>Renewal Request</ion-label>
      </ion-col>
      <ion-col
        [ngClass]="{selectedUpperCol:'true'}"
        routerLink="/tabs-login/device-topup-request-details"
        routerLinkActive="selected"
        size="1.9"
      >
        <ion-label>Topup Request</ion-label>
      </ion-col>
      <ion-col
        [ngClass]="{selectedUpperCol:'true'}"
        routerLink="/tabs-login/device-extend-oneyear-request-details"
        routerLinkActive="selected"
        size="1.9"
      >
        <ion-label>Extend 1 Yr Request</ion-label>
      </ion-col>
      <ion-col
        [ngClass]="{selectedUpperCol:'true'}"
        routerLink="/tabs-login/device-certificate-request"
        routerLinkActive="selected"
        size="1.9"
      >
        <ion-label>Certificate Request</ion-label>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="myPlatform != 'desktop'">
      <ion-col class="form-field">
        <ion-row class="form-field">
          <ion-col>
            <ion-row class="upperRows">
              <ion-col
                [ngClass]="{selectedUpperCols:'true',select:renewal == 1  }"
                (click)="getData(1)"
                size="2.4"
              >
                <ion-label>Renewal 1</ion-label>
              </ion-col>
              <ion-col
                [ngClass]="{selectedUpperCols:'true',select:renewal == 2}"
                (click)="getData(2)"
                size="2.4"
              >
                <ion-label>Renewal 2</ion-label>
              </ion-col>
              <ion-col
                [ngClass]="{selectedUpperCols:'true',select:renewal == 3}"
                (click)="getData(3)"
                size="2.4"
              >
                <ion-label>Renewal 3</ion-label>
              </ion-col>
              <ion-col
                [ngClass]="{selectedUpperCols:'true',select:renewal == 4}"
                (click)="getData(4)"
                size="2.4"
              >
                <ion-label>Renewal 4</ion-label>
              </ion-col>
              <ion-col
                [ngClass]="{selectedUpperCols:'true',select:renewal == 5}"
                (click)="getData(5)"
                size="2.4"
              >
                <ion-label>Renewal 5</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="form-field" style="margin: 15px; text-align: end">
          <ion-col>
            <ion-chip class="owl" (click)="customFilter('yellow')"
              >1 Week Left</ion-chip
            >
            <ion-chip class="days" (click)="customFilter('orange')"
              >15 Days Left</ion-chip
            >
            <ion-chip class="oml" (click)="customFilter('blue')"
              >One Month Left
            </ion-chip>
            <ion-chip class="exp" (click)="customFilter('red')"
              >Expired</ion-chip
            >
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="myPlatform == 'desktop'" class="upperRow">
      <ion-col
        [ngClass]="{selectedUpperCol:'true',selected:renewal == 1  }"
        (click)="getData(1)"
        size="1.2"
      >
        <ion-label>Renewal 1</ion-label>
      </ion-col>
      <ion-col
        [ngClass]="{selectedUpperCol:'true',selected:renewal == 2}"
        (click)="getData(2)"
        size="1.2"
      >
        <ion-label>Renewal 2</ion-label>
      </ion-col>
      <ion-col
        [ngClass]="{selectedUpperCol:'true',selected:renewal == 3}"
        (click)="getData(3)"
        size="1.2"
      >
        <ion-label>Renewal 3</ion-label>
      </ion-col>
      <ion-col
        [ngClass]="{selectedUpperCol:'true',selected:renewal == 4}"
        (click)="getData(4)"
        size="1.2"
      >
        <ion-label>Renewal 4</ion-label>
      </ion-col>
      <ion-col
        [ngClass]="{selectedUpperCol:'true',selected:renewal == 5}"
        (click)="getData(5)"
        size="1.2"
      >
        <ion-label>Renewal 5</ion-label>
      </ion-col>
      <ion-col style="text-align: end">
        <ion-chip class="owl" (click)="customFilter('yellow')"
          >1 Week Left</ion-chip
        >
        <ion-chip class="days" (click)="customFilter('orange')"
          >15 Days Left</ion-chip
        >
        <ion-chip class="oml" (click)="customFilter('blue')"
          >One Month Left
        </ion-chip>
        <ion-chip class="exp" (click)="customFilter('red')">Expired</ion-chip>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="myPlatform != 'desktop'">
      <ion-col class="form-field">
        <ion-row>
          <ion-col style="margin: 10px 0px 0px">
            <ion-label>
              <span class="dealer-label">Total Selected Row :</span>
              <span class="dealer-data">{{selectedRow?.length}}</span>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="margin: 10px 0px 0px; text-align: end">
            <ion-button
              size="small"
              class="submitbtn"
              (click)="openModel()"
              [disabled]="showButton"
              >Request for Renewal</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="myPlatform == 'desktop'">
      <ion-col style="margin: 10px 0px 0px">
        <ion-label>
          <span class="dealer-label">Total Selected Row :</span>
          <span class="dealer-data">{{selectedRow?.length}}</span>
        </ion-label>
      </ion-col>
      <ion-col style="margin: 5px 0px 0px; text-align: end">
        <ion-button
          class="submitbtn"
          (click)="openModel()"
          [disabled]="showButton"
          >Request for Renewal</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div id="pdf3" hidden>
          <!-- <td>{{pdfDate}}</td> -->
          <table style="width: 100%; border: transparent">
            <tr>
              <td>
                <table style="width: 100%">
                  <tr>
                    <th
                      style="
                        text-align: center;
                        z-index: 1;
                        position: relative;
                        height: 70px;
                      "
                      colspan="12"
                    >
                      <img src="{{ Apmlogo }}" style="height: 70px" />
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <span style="font-size: 20px; font-weight: bold"
                        >APM KINGSTRACK TECHNOLOGIES</span
                      ><br />No.813, 5th floor Nizara Bonanza,<br />
                      Opp LIC Building, Anna Salai,<br />
                      Chennai - 600002,Tamil Nadu.
                    </td>
                    <td>
                      <qr-code
                        [value]="values"
                        [size]="width"
                        [level]="level"
                      ></qr-code>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table style="width: 100%; border: transparent">
            <tr>
              <td>
                <table style="width: 100%">
                  <tr>
                    <td
                      style="
                        text-align: start;
                        border-top: 2px solid;
                        padding-top: 2px;
                      "
                      colspan="12"
                    ></td>
                  </tr>
                  <tr>
                    <td
                      style="text-align: start; text-align: justify"
                      colspan="12"
                    >
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This is
                      to certify that the Electronic VTS device is fitted as per
                      the details given below. it is checked, sealed and is
                      functioning in all manners, Device will not function if
                      tampered or not having proper GSM/GPS signals.<br />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table style="width: 100%; border: transparent">
            <tr>
              <td>
                <table style="width: 100%">
                  <tr>
                    <th
                      style="text-align: start; border-bottom: 1px solid"
                      colspan="12"
                    >
                      Vehicle Details:
                    </th>
                  </tr>
                  <tr>
                    <td style="font-size: 13px; width: 30%; padding-top: 2px">
                      Registration No:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.RegistraionNo }}</span
                      >
                    </td>
                    <td style="font-size: 13px; width: 30%; padding-top: 2px">
                      Chassis No:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.ChassisNo }}</span
                      >
                    </td>
                    <td style="font-size: 13px; width: 30%; padding-top: 2px">
                      Engine No:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.EngineNo }}</span
                      >
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table style="width: 100%; border: transparent">
            <tr>
              <td>
                <table style="width: 100%">
                  <tr>
                    <th
                      style="text-align: start; border-bottom: 1px solid"
                      colspan="12"
                    >
                      <b>Vehicle Owner Details:</b>
                    </th>
                  </tr>
                  <tr>
                    <td style="font-size: 13px; width: 30%; padding-top: 2px">
                      Name:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.OwnerName }}</span
                      >
                    </td>
                    <td style="font-size: 13px; width: 30%; padding-top: 2px">
                      Address:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.OwnerAddress }}</span
                      >
                    </td>
                    <td style="font-size: 13px; width: 30%; padding-top: 2px">
                      Phone Number:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.PhoneNo }}</span
                      >
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table style="width: 100%; border: transparent">
            <tr>
              <td>
                <table style="width: 100%">
                  <tr>
                    <th
                      style="text-align: start; border-bottom: 1px solid"
                      colspan="12"
                    >
                      Distributer Details:
                    </th>
                  </tr>
                  <tr>
                    <td style="font-size: 13px; width: 30%; padding-top: 2px">
                      Distributer Name:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.distributerName }}</span
                      >
                    </td>
                    <td style="font-size: 13px; width: 30%; padding-top: 2px">
                      Address:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.distributerAddress }}</span
                      >
                    </td>
                    <td style="font-size: 13px; width: 30%; padding-top: 2px">
                      Phone Number:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.distributerNo }}</span
                      >
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table style="width: 100%; border: transparent">
            <tr>
              <td>
                <table style="width: 100%; justify-content: space-between">
                  <tr>
                    <th
                      style="text-align: start; border-bottom: 1px solid"
                      colspan="12"
                    >
                      VLTD Details:
                    </th>
                  </tr>
                  <tr>
                    <td style="font-size: 13px; width: 30%; padding-top: 2px">
                      Unique Identification No:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.uniqueno }}</span
                      >
                    </td>
                    <td style="font-size: 13px; width: 30%; padding-top: 2px">
                      IMEI Number:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.imeiNumber }}</span
                      >
                    </td>
                    <td style="font-size: 13px; width: 30%; padding-top: 2px">
                      ICCID:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.ccid }}</span
                      >
                    </td>
                  </tr>
                  <tr>
                    <td style="font-size: 13px; width: 30%; padding-top: 4px">
                      Certificate No:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.CertificateNo }}</span
                      >
                    </td>
                    <td style="font-size: 13px; width: 30%; padding-top: 4px">
                      VLTD Model:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.VltdModelNo }}</span
                      >
                    </td>
                    <td style="font-size: 13px; width: 30%; padding-top: 4px">
                      TAC NO:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.tagno }}</span
                      >
                    </td>
                  </tr>
                  <tr>
                    <td style="font-size: 13px; width: 30%; padding-top: 4px">
                      * Valid Upto:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.validupto }}</span
                      >
                    </td>
                    <td style="font-size: 13px; width: 30%; padding-top: 4px">
                      Warranty Upto:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.warrantyupto }}</span
                      >
                    </td>
                    <td
                      *ngIf="panic != 0"
                      style="font-size: 13px; width: 30%; padding-top: 4px"
                    >
                      Panic Button Count:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.paniccount }}</span
                      >
                    </td>
                  </tr>
                  <tr>
                    <td
                      *ngIf="(TotalcertificateData?.distributerName?.toUpperCase() === 'HARYANATEST') || (TotalcertificateData?.distributerName?.toUpperCase() === 'ASHOKA')"
                      style="font-size: 13px; width: 30%; padding-top: 2px"
                      colspan="1"
                    >
                      Sim Number 1:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.simno }}</span
                      >
                    </td>

                    <td
                      *ngIf="(TotalcertificateData?.distributerName?.toUpperCase() === 'HARYANATEST') || (TotalcertificateData?.distributerName?.toUpperCase() === 'ASHOKA')"
                      style="font-size: 13px; width: 30%; padding-top: 2px"
                      colspan="1"
                    >
                      Sim Number 2:<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.simno1 }}</span
                      >
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table style="width: 100%; border: transparent">
            <tr>
              <td>
                <table style="width: 100%">
                  <tr>
                    <th
                      style="text-align: start; border-bottom: 1px solid"
                      colspan="12"
                    >
                      Service Engineer:
                    </th>
                  </tr>
                  <tr>
                    <td style="font-size: 13px; width: 30%; padding-top: 2px">
                      Service Engineer Name :<span
                        style="
                          font-weight: bold;
                          font-size: 13px;
                          text-transform: uppercase;
                        "
                      >
                        {{ TotalcertificateData.InstallationName }}</span
                      ><br />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table style="width: 100%; border: transparent">
            <tr>
              <td>
                <table style="width: 100%">
                  <tr>
                    <th style="text-align: center" colspan="12">
                      PRODUCT SATISFACTION REPORT
                    </th>
                  </tr>
                  <tr>
                    <td style="font-size: 16px; text-align: justify">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is to
                      certify that following vehicle has been installed and
                      activated with ICAT approved IRNSS Vehicle Location
                      Tracking Device as per AIS-140 Standard, The device
                      warranty is void if device is tampered or the seal is
                      Broken by unauthorized technicians or individual
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table style="width: 100%; border: transparent">
            <table style="width: 100%">
              <tr>
                <th style="text-align: center" colspan="12">ACKNOWLEDGEMENT</th>
              </tr>
              <tr>
                <td style="font-size: 16px; text-align: justify">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is to
                  acknowledge and confirm that we have got our vehicle installed
                  with above vehicle location tracking unit. We have checked the
                  performance of the vehicle after installation and we confirm
                  VLD is functioning as per AIS-140 norms. We are satisfied with
                  the performance of the device in all respects, we undertake
                  not to raise any dispute or any legal claims against M/S APM
                  kingstrack Technologies,In the event that the above mentioned
                  function is found broken/torn/tampered/after expiry & warranty
                  date
                </td>
              </tr>
              <tr>
                <td>
                  <table
                    *ngIf="companyId != 'sabbtech-sa'"
                    style="width: 100%; height: 110px"
                  >
                    <td style="font-size: 13px; padding-left: 100px">
                      Dealer Seal & Signature
                    </td>
                    <td style="text-align: center; font-size: 13px">
                      Customer Signature
                    </td>
                  </table>
                  <table *ngIf="companyId == 'sabbtech-sa'" style="width: 100%">
                    <td
                      style="
                        font-size: 13px;
                        text-align: left;
                        width: 50%;
                        padding-left: 55px;
                      "
                    >
                      <img
                        src="https://kingstrackimages.s3.ap-southeast-1.amazonaws.com/Company/APMSeal.png"
                        width="135px"
                        height="125px"
                      />
                      <br />
                      <div style="width: 135px; text-align: center">
                        Signature
                      </div>
                    </td>
                    <td
                      *ngIf="companyId != 'sabbtech-sa'"
                      style="
                        font-size: 13px;
                        vertical-align: bottom;
                        width: 50%;
                        text-align: right;
                        padding-right: 55px;
                      "
                    >
                      Customer Signature
                    </td>
                    <td
                      *ngIf="companyId == 'sabbtech-sa'"
                      style="
                        font-size: 13px;
                        vertical-align: bottom;
                        width: 50%;
                        text-align: right;
                        padding-right: 55px;
                      "
                    ></td>
                  </table>
                </td>
              </tr>
            </table>
          </table>
        </div>
      </ion-col>
    </ion-row>

    <jqxGrid
      #myGrid
      [selectionmode]="'checkbox'"
      (onRowclick)="myGridOnRowclick($event)"
      (onRowselect)="myGridOnRowSelect($event)"
      (onRowunselect)="myGridOnRowSelect($event)"
      [enablebrowserselection]="true"
      [theme]="'material'"
      [width]="'99.5%'"
      [autoheight]="true"
      [source]="dataAdapter"
      [sortable]="true"
      [filterable]="true"
      [columns]="columns"
      [columnsresize]="true"
      [enabletooltips]="true"
      [pageable]="true"
      [showfilterrow]="true"
      style="
        font-size: 16px;
        text-align: center !important;
        margin: auto;
        cursor: pointer;
      "
    >
    </jqxGrid>
  </ion-grid>

  <ion-fab
    *ngIf="arrow"
    style="margin-right: 1%; margin-bottom: 9%"
    slot="fixed"
    vertical="bottom"
    horizontal="end"
  >
    <ion-fab-button class="fabbutton" size="small" (click)="scrollToTop()">
      <ion-icon class="icon" name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab
    *ngIf="arrow"
    style="margin-right: 1%; margin-bottom: 5%"
    slot="fixed"
    vertical="bottom"
    horizontal="end"
  >
    <ion-fab-button class="fabbutton" size="small" (click)="scrollToBottom()">
      <ion-icon class="icon" name="arrow-down"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
