<ion-header>
  <ion-toolbar mode="md" class="dealerHeader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons
      *ngIf="myPlatform == 'desktop'&&companyId == 'apm-sa'"
      slot="start"
    >
      <ion-icon
        routerLink="/tabs-login/esim-dashboard"
        name="arrow-back"
        style="padding: 10px; cursor: pointer"
        slot="start"
      >
      </ion-icon>
    </ion-buttons>
    <ion-title>Esim Change Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="justify-content: center">
  <ion-row
    *ngIf="myPlatform != 'desktop'"
    style="justify-content: center; margin-top: 3%"
  >
    <ion-col
      style="
        border: 2px solid #7c68f8;
        background-color: whitesmoke;
        border-radius: 10px;
        padding: 25px;
      "
      size="10"
    >
      <form [formGroup]="changePassword">
        <ion-row>
          <ion-label class="label-head">User Name :</ion-label>
        </ion-row>
        <ion-row>
          <ion-input
            class="input"
            formControlName="username"
            placeholder="User Name"
          ></ion-input
        ></ion-row>

        <ion-row>
          <ion-label class="label-head">Old Password :</ion-label>
        </ion-row>
        <ion-row>
          <ion-input
            class="input"
            formControlName="oldpassword"
            placeholder="Old Password "
            type="password"
          ></ion-input
        ></ion-row>
        <ion-row>
          <ion-label class="label-head">New Password :</ion-label>
        </ion-row>
        <ion-row>
          <ion-input
            class="input"
            formControlName="newpassword"
            placeholder="New Password"
            type="password"
          ></ion-input
        ></ion-row>
        <ion-row>
          <ion-label class="label-head">Confirm Password :</ion-label>
        </ion-row>
        <ion-row>
          <ion-input
            class="input"
            formControlName="confirmpassword"
            placeholder="Confirm Password"
            type="password"
          ></ion-input>
        </ion-row>
        <ion-row
          ><ion-col>
            <div
              *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)"
            >
              <!-- <div *ngIf="confirmpassword.errors.required">
                <ion-note class="note" slot="error">
                  <span style="color: black">Enter the password</span></ion-note
                >
              </div> -->
              <div *ngIf="confirmpassword.errors.confirmedValidator">
                <ion-note class="note" slot="error"
                  ><span style="color: red"
                    >New password and Confirm Password doesn't matched</span
                  ></ion-note
                >
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: center !important; padding: 10px">
            <ion-button
              class="submitbtn"
              shape="round"
              (click)="SubmitData()"
              [disabled]="!changePassword.valid"
              >Change Password</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
  <ion-row
    *ngIf="myPlatform == 'desktop'"
    style="justify-content: center; margin-top: 3%"
  >
    <ion-col
      style="
        border: 1px solid #7c68f8;
        background-color: whitesmoke;
        border-radius: 10px;
        padding: 25px;
      "
      size="5"
    >
      <form [formGroup]="changePassword">
        <ion-row>
          <ion-label class="label-head">User Name :</ion-label>
        </ion-row>
        <ion-row>
          <ion-input
            class="input"
            formControlName="username"
            placeholder="User Name "
          ></ion-input
        ></ion-row>
        <ion-row>
          <ion-label class="label-head">Old Password :</ion-label>
        </ion-row>
        <ion-row>
          <ion-input
            class="input"
            formControlName="oldpassword"
            placeholder="Old Password "
            type="password"
          ></ion-input
        ></ion-row>
        <ion-row>
          <ion-label class="label-head">New Password :</ion-label>
        </ion-row>
        <ion-row>
          <ion-input
            class="input"
            formControlName="newpassword"
            placeholder="New Password"
            type="password"
          ></ion-input
        ></ion-row>
        <ion-row>
          <ion-label class="label-head">Confirm Password :</ion-label>
        </ion-row>
        <ion-row>
          <ion-input
            class="input"
            formControlName="confirmpassword"
            placeholder="Confirm Password"
            type="password"
          ></ion-input>
        </ion-row>
        <ion-row
          ><ion-col>
            <div
              *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)"
            >
              <!-- <div *ngIf="confirmpassword.errors.required">
                <ion-note class="note" slot="error">
                  <span style="color: black">Enter the password</span></ion-note
                >
              </div> -->
              <div *ngIf="confirmpassword.errors.confirmedValidator">
                <ion-note class="note" slot="error"
                  ><span style="color: red"
                    >New Password & Confirm New Password doesn't matched</span
                  ></ion-note
                >
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: center !important; padding: 10px">
            <ion-button
              class="submitbtn"
              shape="round"
              (click)="SubmitData()"
              [disabled]="!changePassword.valid"
              >Change Password</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
