smart-drop-down-list {
  min-height: 35px;
  width: 250px;
}
.input {
  border: 1px solid #e5e5e5;
  background: #e8e8e8;
  --padding-top: 1px;
  height: 35px;
  --padding-bottom: 0px;
  --padding-start: 6px;
}
div {
  margin-right: 8px;
  margin-left: 19px;
  margin-top: 5px;
}
