.fab-btn {
  --background: lavender;
  --box-shadow: none;
  position: absolute;
  top: -7px;
  right: 10px;
  height: 30px;
  width: 30px;
}

.fab-btn:hover {
  --background-hover: #b6b6b6;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: transparent;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  position: absolute;
  margin-left: 15px;
  z-index: 1;
  font-size: 14px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.pdf-wrapper,
.excel-wrapper {
  background: url("../../../assets/excelNew.svg") no-repeat;
  width: 18px;
  height: 20px;
}
.input {
  border: 1px solid #e5e5e5;
  height: 42px;
  line-height: 18px;
  --padding-start: 15px;
  background: #e8e8e8;
  margin: 7px;
}
.selectable-input {
  padding: 8px 11px 4px 8px;
  margin-top: 5px;
}
.documents {
  margin: 30px 15px 0px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .form-field {
    zoom: 80%;
  }
  #submitbtn {
    width: 40%;
  }
}
.form-field {
  margin: -5px 5px 0px;
  border-radius: 7px;
}
@media only screen and(min-width:320px) and(max-width:1023px) {
  .wrapper-container {
    border: none;
    margin: 8px 0 0;
    padding: 0;
  }
}
@media only screen and(min-width:1024px) {
  .wrapper-container {
    margin: 8px 1px;
    padding-right: 20px;
  }
}
