<ion-header>
  <ion-toolbar mode="md" class="dealerHeader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row class="toolbar">
      <ion-col size="8">
        <ion-title>Password</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="wrapper-container">
    <ion-col size="12">
      <form [formGroup]="passwordform">
        <ion-row class="content-style">
          <ion-col size="4" class="col-content">Password : </ion-col>
          <ion-col size="7">
            <ion-input type="password" class="input" placeholder="Enter the Password"
              formControlName="password"></ion-input>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="text-align: center">
            <ion-button class="submitbtn" (click)="submit()"
              [disabled]="!passwordform.valid || button">Submit</ion-button>
            <ion-button class="submitbtn" (click)="cancelBtn()">Cancel</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-content>