<ion-header>
  <ion-toolbar mode="md" class="dealerHeader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-row class="toolbar">
      <ion-col>
        <ion-title>Backend Server Credential</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-grid>
    <ion-row class="wrapper-container">
      <ion-col size="12">
        <form [formGroup]="backendForm">
          <ion-row class="form-field">
            <ion-col size="12" size-lg="2.4" size-md="2.4">
              <ion-label class="label-head">Name:</ion-label>
              <ion-input
                type="text"
                placeholder="Enter the Name"
                formControlName="companyname"
                class="input"
              ></ion-input>
            </ion-col>

            <ion-col size="12" size-lg="6" size-md="2.4">
              <ion-label class="label-head">URL:</ion-label>
              <ion-input
                type="text"
                formControlName="urllink"
                placeholder="Enter the URL"
                class="input"
              ></ion-input>
            </ion-col>

            <ion-col size="12" size-lg="2.4" size-md="2.4">
              <ion-label class="label-head">User Id:</ion-label>
              <ion-input
                type="text"
                placeholder="Enter the User Id"
                formControlName="userid"
                class="input"
              ></ion-input>
            </ion-col>

            <ion-col size="12" size-lg="2.4" size-md="2.4">
              <ion-label class="label-head">Password:</ion-label>
              <ion-input
                type="text"
                placeholder="Enter the Password"
                formControlName="Password"
                class="input"
              ></ion-input>
            </ion-col>

            <ion-col style="margin: 27px 0px 0px 10px">
              <ion-button
                *ngIf="!hideSerialNo"
                class="submitbtn"
                (click)="add()"
                [disabled]="!backendForm.valid || button"
                >Submit</ion-button
              >
              <ion-button
                *ngIf="hideSerialNo"
                class="submitbtn"
                (click)="edit()"
                [disabled]="!backendForm.valid || button"
                >Save</ion-button
              >
              <ion-button class="submitbtn" (click)="clear()">Clear</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>

    <jqxGrid
      #myGrid
      [theme]="'material'"
      (onRowclick)="myGridOnRowSelect($event)"
      [width]="'99%'"
      [autoheight]="true"
      [enablebrowserselection]="true"
      [source]="dataAdapter"
      [sortable]="true"
      [filterable]="true"
      [columns]="columns"
      [columnsresize]="true"
      [enabletooltips]="true"
      [pageable]="true"
      [showfilterrow]="true"
      style="
        font-size: 16px;
        text-align: center !important;
        margin: auto;
        cursor: pointer;
      "
    >
    </jqxGrid>
  </ion-grid>

  <ion-fab
    *ngIf="arrow"
    style="margin-right: 1%; margin-bottom: 9%"
    slot="fixed"
    vertical="bottom"
    horizontal="end"
  >
    <ion-fab-button class="fabbutton" size="small" (click)="scrollToTop()">
      <ion-icon class="icon" name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab
    *ngIf="arrow"
    style="margin-right: 1%; margin-bottom: 5%"
    slot="fixed"
    vertical="bottom"
    horizontal="end"
  >
    <ion-fab-button class="fabbutton" size="small" (click)="scrollToBottom()">
      <ion-icon class="icon" name="arrow-down"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
