<ion-header>
  <ion-toolbar mode="md" class="dealerHeader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons
      *ngIf="myPlatform == 'desktop'&&companyId == 'apm-sa'"
      slot="start"
    >
      <ion-icon
        routerLink="/tabs-login/esim-dashboard"
        name="arrow-back"
        style="padding: 10px; cursor: pointer"
        slot="start"
      ></ion-icon>
    </ion-buttons>
    <ion-row>
      <ion-title>Device Replace Details</ion-title>
      <ion-col
        *ngIf="myPlatform == 'desktop'"
        size="4"
        style="text-align: right"
      >
        <ion-button class="submitBtn" size="small" (click)="newfunc()"
          >Export</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="form-field">
    <ion-col
      *ngIf="myPlatform != 'desktop'"
      style="margin-top: 10px; text-align: right"
      class="form-field"
    >
      <ion-button class="submitbtn" (click)="addDevice()"
        >Add device</ion-button
      >
    </ion-col>
  </ion-row>

  <ion-row class="wrapper-container">
    <ion-col>
      <form [formGroup]="returnForm">
        <ion-row class="form-field">
          <ion-col size="12" size-lg="2.4" size-md="2.4">
            <ion-label class="label-head">Box No:</ion-label>
            <ion-input
              type="text"
              placeholder="Enter the Box No"
              formControlName="boxno"
              class="input"
            ></ion-input>
          </ion-col>
          <ion-col size="12" size-lg="2.4" size-md="2.4">
            <ion-label class="label-head">IMEI No:</ion-label>
            <ion-input
              type="text"
              placeholder="Enter the Imei No"
              formControlName="imeino"
              class="input"
            ></ion-input>
          </ion-col>
          <ion-col
            size="12"
            size-lg="2.4"
            size-md="2.4"
            style="margin: 25px 0px 0px; text-align: end; align-self: center"
          >
            <ion-button
              class="submitbtn"
              [disabled]="returnForm.value.boxno  == '' && returnForm.value.imeino  == ''"
              (click)="SearchData('submit')"
              >Submit</ion-button
            >
            <ion-button class="submitbtn" (click)="clear()">Clear</ion-button>
          </ion-col>
          <ion-col
            *ngIf="myPlatform == 'desktop'"
            size="12"
            size-lg="4"
            size-md="4"
            style="margin: 25px 0px 0px; align-self: center"
          >
            <ion-button
              class="submitbtn"
              [disabled]="returnForm.value.imeino  == ''"
              (click)="history('history')"
              >Show History</ion-button
            >
            <ion-button class="submitbtn" (click)="addDevice()"
              >Add device</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>

  <jqxGrid
    *ngIf="show"
    #myGrid
    (onRowclick)="myGridOnRowSelect($event)"
    [theme]="'material'"
    [enablebrowserselection]="true"
    [pagesizeoptions]="page"
    [width]="'99.5%'"
    [autoheight]="true"
    [source]="dataAdapter"
    [columns]="columns"
    [filterable]="true"
    [sortable]="true"
    [columnsresize]="true"
    [enabletooltips]="true"
    [pageable]="true"
    [showfilterrow]="true"
    style="
      font-size: 16px;
      text-align: center !important;
      margin: auto;
      cursor: pointer;
    "
  >
  </jqxGrid>
</ion-content>
