<ion-header>
  <ion-toolbar mode="md" class="dealerHeader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-title>Whitelisting Master Detail</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="myPlatform == 'desktop'" class="tabrow">
    <ion-col>
      <ion-row>
        <div class="wrap">
          <button (click)="getdatas('Sensorise')" [ngClass]="{nexttab:true,select:tab=='Sensorise'}">
            Sensorise
          </button>
        </div>
        <div class="wrap">
          <button (click)="getdatas('Techno Jacks')" [ngClass]="{nexttab:true,select:tab=='Techno Jacks'}">
            Techno Jacks
          </button>
        </div>
        <div class="wrap">
          <button (click)="getdatas('Airtel M2M')" [ngClass]="{nexttab:true,select:tab=='Airtel M2M'}">
            Airtel M2M
          </button>
        </div>
        <div class="wrap">
          <button (click)="getdatas('Intalia')" [ngClass]="{nexttab:true,select:tab=='Intalia'}">
            Intalia
          </button>
        </div>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="myPlatform == 'desktop'&& tab == 'Sensorise' " class="form-field">
    <ion-col style="margin: 10px 0px 0px; text-align: end">
      <ion-button class="submitbtn" (click)="addModel()">Add</ion-button>
      <ion-button (click)="editModel()">Edit</ion-button>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 5px" *ngIf="tab == 'Sensorise'">
    <ion-col>
      <jqxGrid #myGrid [theme]="'material'" (onRowclick)="myGridOnRowSelect($event)" [width]="'99%'" [autoheight]="true"
        [enablebrowserselection]="true" [source]="dataAdapter" [sortable]="true" [filterable]="true" [columns]="columns"
        [columnsresize]="true" [enabletooltips]="true" [pageable]="true" [showfilterrow]="true" style="
          font-size: 16px;
          text-align: center !important;
          margin: auto;
          cursor: pointer;
        ">
      </jqxGrid>
    </ion-col>
  </ion-row>

</ion-content>