<ion-header>
  <ion-toolbar mode="md" class="dealerHeader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons
      *ngIf="myPlatform == 'desktop'&&companyId == 'apm-sa'"
      slot="start"
    >
      <ion-icon
        routerLink="/tabs-login/esim-dashboard"
        name="arrow-back"
        style="padding: 10px; cursor: pointer"
        slot="start"
      ></ion-icon>
    </ion-buttons>
    <ion-row>
      <ion-title>Sim Change Provider</ion-title>
      <ion-col *ngIf="myPlatform == 'desktop'">
        <ion-row style="margin: 0px; padding: 0; float: right">
          <ion-col style="margin-top: 0" class="tooltip">
            <ion-fab-button
              size="small"
              class="fab-btn"
              href="https://kingstrackimages.s3.ap-southeast-1.amazonaws.com/EsimExcelDowmload/SimProviderChange.xlsx"
              download="sample.xlsx"
            >
              <div class="excel-wrapper"></div>
            </ion-fab-button>
            <span class="tooltiptext">Excel-Format</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="margin-top: 10px; justify-content: center">
    <ion-col size="5">
      <form [formGroup]="simchangeForm">
        <ion-card class="cardCenter">
          <ion-card-content>
            <ion-card-subtitle>File Upload :</ion-card-subtitle>
            <ion-row class="form-field">
              <ion-col size="12" size-lg="6" size-md="6">
                <input
                  type="file"
                  (change)="onFileChange($event)"
                  formControlName="fileupload"
                  class="documents"
                />
              </ion-col>

              <ion-col
                size="12"
                size-lg="6"
                size-md="6"
                style="text-align: center; align-self: center"
              >
                <ion-button
                  class="submitbtn"
                  (click)="Submit()"
                  [disabled]="simchangeForm.value.fileupload  == ''"
                  >Submit</ion-button
                >
                <ion-button class="submitbtn" (click)="clear()"
                  >Clear</ion-button
                >
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
