.submitBtn {
  margin: 0px 14px 0px 0px;
  --ion-color-primary: #7c68f8;
  --background: white;
  --color: #7c68f8;
  --background-hover: #7c68f8;
  --color-hover: white;
}

@media only screen and (min-width: 768px) {
  .input {
    margin-top: 12px;
  }

  #submitbtn {
    width: 20%;
  }
}

@media only screen and (max-width: 767px) {
  .form-field {
    zoom: 80%;
  }

  #submitbtn {
    width: 80%;
  }
}

.form-field {
  margin: 0px 5px 0px;
  border-radius: 7px;
}

.wrap {
  margin-left: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nexttab {
  height: 30px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2.5px;
  color: #000;
  background-color: #ebebeb;
  border: none;
  border-right: 1px solid #b5b5b5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  transform: skew(-21deg);
  margin-left: 2px;
}

.select {
  font-size: 10px;
  font-weight: bold;
  padding: 10px;
  box-shadow: 0px -4px 7px #c0b5ff;
  background-color: #ffffff;
  // transform: translateY(7px);
  transform: skew(-21deg);
}

.tabrow {
  margin-left: 15px;
  margin-top: 7px;
  border-bottom: 2px solid #822ef5;
  background: #ebebeb;
}
.dealer-label {
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
}
