ion-card {
    border-left: 4px solid #06d4fe;
    padding: 0px;
    margin: 0px;
    background-color: white;
    width: 129% !important;
}

ion-card-content {
  font-size: 12px;
  line-height: 5px;
  padding: 8px 0px 5px 4px;
}

.vj {
  font-weight: bold;
}
